<!DOCTYPE html>
<html>
    <title></title>
    <!-- <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <style>
        #clr{
            background-color: blue;
            width: 100%;
        }   
        .fnt{
            color: aliceblue;
        } 
    </style>
<head>
<body>
    <table style="width: 100%;">
        <tr id="clr">
            <td class="fnt">
                Home
            </td>
            <td class="fnt">
                About
            </td>
            <td class="fnt">
                Services
            </td>
            <td class="fnt">
                Contact
            </td>
            <td class="fnt">
                Our Work
            </td>
            <td class="fnt">
                Client
            </td>
        </tr>
    </table>
</body>
</head>
</html>